$green-primary: #74c947; 
$green-secondary-2: #bceaa3;
$green-secondary-3: #91d96c;
$green-secondary-4: #53b324;
$green-secondary-5: #47991f;
$green-secondary-6: #1a4d00;

$purple-primary: #9471f6; 
$purple-secondary-2: #d8caff;
$purple-secondary-3: #9f8cff;
$purple-secondary-4: #815ce6;
$purple-secondary-5: #5d3eb3;
$purple-secondary-6: #3f238c;

$yellow-primary: #ffd940; 
$yellow-secondary-2: #fff4c9;
$yellow-secondary-3: #ffe680;
$yellow-secondary-4: #ffcc00;
$yellow-secondary-5: #e6ba0b;
$yellow-secondary-6: #996600;

$blue-primary: #1977cf; 
$blue-secondary-2: #d6ebff;
$blue-secondary-3: #73aee6;
$blue-secondary-4: #0069cc;
$blue-secondary-5: #004f99;
$blue-secondary-6: #00294f;

$slate-primary: #363f41; 
$slate-secondary-2: #f5f5f5;
$slate-secondary-3: #cccfcf;
$slate-secondary-4: #9a9fa0;
$slate-secondary-5: #626566;
$slate-secondary-6: #000000;