  /* Series options */
  /* Default colors */
  .highcharts-color-0 {
    fill: $green-primary;
    stroke: $green-primary;
  }
  
  .highcharts-color-1 {
    fill: $slate-secondary-3;
    stroke: $slate-secondary-3;
  }
  
  .highcharts-color-2 {
    fill: $purple-primary;
    stroke: $purple-primary;
  }
  
  .highcharts-color-3 {
    fill: $yellow-primary;
    stroke: $yellow-primary;
  }
  
  .highcharts-color-4 {
    fill: $blue-primary;
    stroke: $blue-primary;
  }
  
  // .highcharts-color-5 {
  //   fill: #f15c80;
  //   stroke: #f15c80;
  // }
  
  // .highcharts-color-6 {
  //   fill: #e4d354;
  //   stroke: #e4d354;
  // }
  
  // .highcharts-color-7 {
  //   fill: #2b908f;
  //   stroke: #2b908f;
  // }
  
  // .highcharts-color-8 {
  //   fill: #f45b5b;
  //   stroke: #f45b5b;
  // }
  
  // .highcharts-color-9 {
  //   fill: #91e8e1;
  //   stroke: #91e8e1;
  // }
  