$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

@import "css-reset";
@import "colors";
@import "type";
@import "highcharts";

.chart-area {
  // background-color: lightgray;
  background-size: 100px;
  background-repeat: no-repeat;
  background-image:
    url(https://fm-static.cnbc.com/awsmedia/chart/2019/6/10/grow_leaves.1562793463706.png);
  background-position: bottom right;
  max-width: 660px;

  & a {
    border-bottom: 1px solid $green-primary;
    color: $green-primary;
    text-decoration: none;
  }

  & .chart-container {
    width: 100%;
    height: 300px;
    margin-top: -10px;
    @include sm-md-xl {
      height: 400px;
    }
  }

  & .grow-logo {
    width: 214px;
    margin-top: 20px;
  }
  
}
