$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

@import "css-reset";
@import "colors";
@import "type";
@import "highcharts";

a {
  border-bottom: 1px solid $green-primary;
  color: $green-primary;
  text-decoration: none;
}

#container {
  width: 100%;
  margin: auto;
  padding: 0;
}

#chart-container {
  width: 100%;
  height: 300px;
  margin-top: -10px;
  @include sm-md-xl {
    height: 400px;
  }
}

#chart-area {
  // background-color: lightgray;
  background-size: 100px;
  background-repeat: no-repeat;
  background-image:
    url(../img/grow_leaves.png);
  background-position: bottom right;
}

.grow-logo {
  width: 214px;
  margin-top: 20px;
}

