$breakpoint-small: 565px;

@mixin mobile {
  @media (min-width: #{$breakpoint-small}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-small + 1px}) {
    @content;
  }
}

@import "css-reset";
@import "colors";
@import "type";
@import "highcharts";

a {
  border-bottom: 1px solid $green-primary;
  color: $green-primary;
  text-decoration: none;
}

#container {
  width: 90%;
  max-width: 833px;
  margin: auto;
  padding: 5%;
}

#chart-container {
  width: 100%;
  height: 300px;
  // set this only if there is a chart title
  margin-top: 10px;
  @include desktop {
    height: 400px;
    margin-top: -23px;
  }
}

#chart-area {
  // background-color: lightgray;
  background-size: 100px;
  background-repeat: no-repeat;
  background-image:
    url(/img/grow_leaves.png);
  background-position: bottom right;
}

.grow-logo {
  width: 214px;
  margin-top: 20px;
  margin-bottom: -7px;
}

.grow-leaves {
  float: right;
  width: 12%;
  margin-top: -38px;
  position: relative;
}

